﻿
@{
    ViewBag.Title = "Prijava";
}

<h2>Prijava</h2>

<form action="Prijava" method="post" class="text-center">
    <p>
        @ViewBag.Message

    </p>
    <table style="padding-top:25px;">
        <tr>
            <td style="border-right: none">Korisnicko ime:</td>
            <td style="padding-left:20px;"><input type="text" name="korisnickoIme" required="required" pattern=".{3,}" title="Three or more characters!" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Lozinka:</td>
            <td style="padding-left:20px;"><input type="password" name="lozinka" required="required" pattern=".{8,}" title="Eight or more characters!" /></td>
        </tr>
        <tr>
            <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Prijava" /></td>
        </tr>
    </table>
</form>