﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <div id="rectangle" style="padding-left:400px;padding-top:10px;display:flex">
            <p>
                @if (Session["Username"] != null)
                {
                <p>
                    Pozdrav,  @Session["Ime"].ToString()
                    <br>
                    Vas rank je @Session["Role"].ToString()

                </p>}
                else
                {
                    <p>
                    Pozdrav, Gost
                    </p>
                }
            </p>   
        </div>


        <div class="navbar navbar-inverse">
            <div class="container" style="padding-top:0">
                <div class="navbar-collapse collapse" style="padding-left:15px">
                    <ul class="nav navbar-nav navbar-brand">
                        <li><a href="~/Voyage/AktivnaPonuda">Ponuda</a></li>
                        <li><a href="~/Voyage/StaraPonuda">Stara Ponuda</a></li>


                        @if (Session["Role"] != null)
                        {
                            if ((Session["Role"].ToString() == "ADMINISTRATOR") || (Session["Role"].ToString() == "MENADZER") || (Session["Role"].ToString() == "TURISTA"))
                            {
                                <li style="float:right"><a href="~/Autentifikacija/Odjava">Logout</a></li>
                                <li style="float:right"><a href="~/Home/MojProfil">Moj profil</a></li>
                            }
                            if (Session["Role"].ToString() == "TURISTA")
                            {
                                <li style="float:right"><a href="~/Home/MojeRezervacije">Moje rezervacije</a></li>
                            }
                            if (Session["Role"].ToString() == "ADMINISTRATOR")
                            {
                                <li><a href="~/AdminPanel/Index">Admin Panel</a></li>
                            }
                            if (Session["Role"].ToString() == "MENADZER")
                            {
                                <li><a href="~/ManagerPanel/Index">Manager Panel</a></li>
                            }
                            if ((Session["Role"].ToString() == "GOST"))
                            {
                                <li style="float:right"><a href="~/Autentifikacija/Registracija">Registracija</a></li>
                                <li style="float:right"><a href="~/Autentifikacija/Prijava">Prijava</a></li>
                            }
                        }
                        else
                        {
                            <li style="float:right"><a href="~/Autentifikacija/Registracija">Registracija</a></li>
                            <li style="float:right"><a href="~/Autentifikacija/Prijava">Prijava</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
