﻿@using WebProjekat.Models
@model IEnumerable<Korisnik>
@{
    ViewBag.Title = "Index";

    List<SelectListItem> listItems1 = new List<SelectListItem>();
    listItems1.Add(new SelectListItem
    {
        Text = "Administrator",
        Value = "ADMINISTRATOR",
        Selected = true
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Menadzer",
        Value = "MENADZER"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Turista",
        Value = "TURISTA"
    });

}

<h2 style="padding-bottom:5px;font-weight:bold">Admin Panel<hr><p class="lead">Dobrodosli u vas manager panel. Ovde mozete videti listu svih korisnika i dodavati nove menadzere.</p></h2>
<div class="jumbotron">
    
    <form action="~/AdminPanel/FiltriranjeKorisnika" method="post" class="text-center">
        <table cellspacing="0" border="0">
            <colgroup span="4" width="73"></colgroup>
            <tr style="padding:50px">
                <td colspan=2 height="20" align="left" valign=middle><font color="#000000"><strong>Ime</strong></font></td>
                <td colspan=2 height="20" align="left" valign=middle style="padding-left:10px"><font color="#000000"><strong>Uloga</strong></font></td>
            </tr>
            <tr>
                <td colspan=2 height="20" align="left" valign=middle><input type="text" name="ime"></td>
                <td colspan=2 align="left" valign=middle style="padding-left:10px">@Html.DropDownList("uloga", listItems1, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td colspan=2 height="20" align="left" valign=middle style="padding-top:20px"><font color="#000000"><strong>Prezime:</strong></font></td>
            </tr>
            <tr>
                <td colspan=2 height="20" align="left" valign=middle><input type="text" name="prezime"></td>
                <td colspan=2 rowspan=2 align="center" valign="bottom"><input type="submit" value="Pretrazi" /></td>
            </tr>
            <tr>
            </tr>
        </table>
    </form>

    <br /><br />

    <table class="table" style="vertical-align:central">
        <thead> 
            <tr>
                <td><strong>Sortiranja:</strong></td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-info" href="~/AdminPanel/SortiranjeKor/?kriterijum=nameDesc" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/AdminPanel/SortiranjeKor/?kriterijum=nameAsc" name="kriterijum">&uArr;</a>
                </td>
                <td>
                    <a class="btn btn-info" href="~/AdminPanel/SortiranjeKor/?kriterijum=snameDesc" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/AdminPanel/SortiranjeKor/?kriterijum=snameAsc" name="kriterijum">&uArr;</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-info" href="~/AdminPanel/SortiranjeKor/?kriterijum=roleDesc" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/AdminPanel/SortiranjeKor/?kriterijum=roleAsc" name="kriterijum">&uArr;</a>
                </td>
                <td></td>
            </tr>

            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Korisnicko ime</strong></td>
                <td><strong>Lozinka</strong></td>
                <td><strong>Ime</strong></td>
                <td><strong>Prezime</strong></td>
                <td><strong>Pol</strong></td>
                <td><strong>Email</strong></td>
                <td><strong>Datum rodjenja</strong></td>
                <td><strong>Uloga</strong></td>
                <td><strong>Akcije</strong></td>
            </tr>
        </thead>


        @if (Model != null)
        {
            foreach (Korisnik k in Model)
            {
                if ((Session["UserID"] != null) && !k.Deleted)
                {
                    string promenljiva = "";
                    if (k.Blokiran == 1)
                    {
                        promenljiva = "red";
                    }
                    else
                    {
                        promenljiva = "";
                    }

                    int brOtkazanih = 0;
                    foreach (Rezervacija rez in k.ListaRezervacija)
                    {
                        if (rez.Status.ToString() == "OTKAZANA")
                        {
                            brOtkazanih++;
                        }
                    }

                    <tr style="color:@promenljiva">
                        <td>
                            @if(brOtkazanih>1)
                            {
                                <strong style="color:red">*</strong>
                            }
                            @k.ID
                        </td>
                        <td>@k.KorisnickoIme</td>
                        <td>@k.Lozinka</td>
                        <td>@k.Ime</td>
                        <td>@k.Prezime</td>
                        <td>@k.Pol</td>
                        <td>@k.Email</td>
                        <td>@k.DatumRodjenja.ToString("dd'/'MM'/'yyyy")</td>
                        <td>@k.Uloga</td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        @if (Session["Role"] != null)
                                        {
                                            if (k.Blokiran == 0)
                                            {
                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/AdminPanel/BlokirajKorisnika">
                                                        <input type="text" name="id" value="@k.ID" hidden />
                                                        <input type="submit" value="Blokiraj" class="btn-danger" />
                                                    </form>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/AdminPanel/OdblokirajKorisnika">
                                                        <input type="text" name="id" value="@k.ID" hidden />
                                                        <input type="submit" value="Odblokiraj" class="btn-success" />
                                                    </form>
                                                </td>
                                            }

                                            <td style="border-right:none;padding-right:0px">
                                                <form method="post" action="~/AdminPanel/ObrisiKorisnika">
                                                    <input type="text" name="id" value="@k.ID" hidden />
                                                    <input type="submit" value="Obrisi" class="btn-success" />
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <a class="btn btn-default" href="~/AdminPanel/KreiranjeMenadzera">Dodaj menadzera</a>
</div>
