﻿
@{
    ViewBag.Title = "KreiranjeMenadzera";
}

<h2>Kreiranje novog menadzera</h2>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Musko",
        Value = "Musko",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Zensko",
        Value = "Zensko"
    });

}

<form action="KreiranjeMenadzera" method="post" class="text-center">
    <table style="padding-top:25px">
        <tr>
            <td style="border-right: none">Korisnicko ime:</td>
            <td style="padding-left:20px;"><input type="text" name="korisnickoIme" required="required" pattern=".{3,}" title="Three or more characters!" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Lozinka:</td>
            <td style="padding-left:20px;"><input type="password" name="lozinka" required="required" pattern="[a-zA-z0-9-]+.{8,}" title="Eight or more characters!" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Ime:</td>
            <td style="padding-left:20px;"><input type="text" name="ime" required="required" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Prezime:</td>
            <td style="padding-left:20px;"><input type="text" name="prezime" required="required" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Pol:</td>
            <td style="padding-left:20px;">@Html.DropDownList("pol", listItems, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td style="border-right: none">Email:</td>
            <td style="padding-left:20px;"><input type="text" name="email" required="required" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Datum rodjenja:</td>
            <td style="padding-left:20px;"><input type="date" name="datumRodjenja" required="required" /></td>
        </tr>
        <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Registracija" /></td>
        </tr>
    </table>
</form>