﻿@using WebProjekat.Models
@model IEnumerable<Aranzman>
@{ 
    ViewBag.Title = "Index";


}

<h2 style="padding-bottom:5px;font-weight:bold">Manager Panel<hr><p class="lead">Dobrodosli u vas manager panel. Ovde mozete dodati nov smestaj, nove smestajne jedinice ili cele aranzmane.</p></h2>
<div class="jumbotron">

<a class="btn btn-default" href="~/Voyage/KreiranjeAranzmana">Kreiraj novi aranzman</a>
<a class="btn btn-default" href="~/Voyage/KreiranjeSmestaja">Kreiraj novi smestaj</a>
<a class="btn btn-default" href="~/Voyage/PrikazSmestaja">Pregled smestaja</a>

    <h3>Vasi aranzmani:</h3>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Lokacija</th>
                <th>Datum pocetka</th>
                <th>Datum zavrsetka</th>
                <th>Maksimalno putnika</th>
                <th>Akcije</th>
            </tr>
        </thead>

        
            @if (Model != null)
            {
                foreach (Aranzman ar in Model)
                {
                    if ((Session["UserID"]!=null) && (ar.CreatorID == Session["UserID"].ToString()) && (!ar.Deleted))
                    {
                        <tr>
                            <td>@ar.ID</td>
                            <td>@ar.Naziv</td>
                            <td>@ar.Lokacija</td>
                            <td>@ar.DatumPocetka.ToString("dd'/'MM'/'yyyy")</td>
                            <td>@ar.DatumZavrsetka.ToString("dd'/'MM'/'yyyy")</td>
                            <td>@ar.MaksimalnoPutnika</td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            @if (Session["Role"] != null)
                                            {
                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/Voyage/InfoAranzmana">
                                                        <input type="text" name="id" value="@ar.ID" hidden />
                                                        <input type="submit" value="Info" class="btn-warning" />
                                                    </form>
                                                </td>

                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/Voyage/BrisanjeAranzmana">
                                                        <input type="text" name="id" value="@ar.ID" hidden />
                                                        <input type="submit" value="Obrisi" class="btn-danger" />
                                                    </form>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
            }
    </table>



</div>
