﻿@using WebProjekat.Models
@model Aranzman
@{
    ViewBag.Title = "DodajKomentar";


    Aranzman aranz = ViewData["Aranzman"] as Aranzman;
}

<h2 style="padding-bottom:5px;font-weight:bold">Dodavanje komentara na aranzman: "@aranz.ID - @aranz.Naziv":<hr></h2>
<div class="jumbotron">




    <form action="~/Home/DodajKomentarSAID" method="post" class="text-center">
        <table style="padding-top:25px">
            <tr>
                <td style="border-right: none">Komentar:</td>
                <td style="padding-left:20px;"><input type="text" name="sadrzaj" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Ocena(1-5):</td>
                <td style="padding-left:20px;"><input type="number" name="ocena" required="required" pattern="" /></td>
            </tr>
            <tr>
                <td style="padding-left:20px;"><input type="text" name="idAranzmana" value="@aranz.ID" hidden /></td>
                <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Dodaj!" /></td>
            </tr>
        </table>
    </form>

</div>