﻿@using WebProjekat.Models;
@model Korisnik
@{ ViewBag.Title = "IzmeniProfil"; }

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Musko",
        Value = "Musko",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Zensko",
        Value = "Zensko"
    });

}

<h2 style="padding-bottom:5px;font-weight:bold">Izmena profila<hr></h2>
<div class="jumbotron">

    <th>ID</th>
    <th>Korisnicko ime</th>
    <th>Lozinka</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Pol</th>
    <th>Email</th>
    <th>Datum rodjenja</th>
    <th>Uloga</th>
    <th>Akcije</th>

    <form action="IzmeniProfil" method="post" class="text-center">
        <table style="padding-top:25px">
            <tr>
                <td style="border-right: none">Korisnicko ime:</td>
                <td style="padding-left:20px;"><input type="text" name="korisnickoIme" required="required" pattern=".{3,}" title="Three or more characters!" value="@Model.KorisnickoIme" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Lozinka:</td>
                <td style="padding-left:20px;"><input type="password" name="lozinka" required="required" pattern="[a-zA-z0-9-]+.{8,}" title="Eight or more characters!" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Ime:</td>
                <td style="padding-left:20px;"><input type="text" name="ime" required="required" value="@Model.Ime" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Prezime:</td>
                <td style="padding-left:20px;"><input type="text" name="prezime" required="required" value="@Model.Prezime" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Pol:</td>
                <td style="padding-left:20px;">@Html.DropDownList("pol", listItems, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td style="border-right: none">Email:</td>
                <td style="padding-left:20px;"><input type="text" name="email" required="required" value="@Model.Email"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Datum rodjenja:</td>
                <td style="padding-left:20px;"><input type="date" name="datumRodjenja" required="required" value="@Model.DatumRodjenja"/></td>
            </tr>
            <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Izmeni" /></td>
            </tr>
        </table>
    </form>

</div>