﻿@using WebProjekat.Models
@model IEnumerable<Rezervacija>
@{
    ViewBag.Title = "MojeRezervacije";
}

<h2 style="padding-bottom:5px;font-weight:bold">Moje rezervacije<hr></h2>
<div class="jumbotron">
    <table class="table" style="vertical-align:central">
        <thead>
            <tr>
                <th>ID</th>
                <th>Aranzman</th>
                <th>Smestajna jedinica</th>
                <th>Status rezervacije</th>
                <th>Akcije</th>
            </tr>
        </thead>

        @foreach (Rezervacija r in Model)
        {
            if ((Session["UserID"] != null))
            {
                <tr>
                    <td>@r.ID</td>
                    <td>@r.Aranzman.ID - "@r.Aranzman.Naziv"</td>
                    <td>@r.SmestajnaJedinica.ID</td>
                    <td>@r.Status</td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    @if (Session["Role"] != null)
                                    {
                                        { 
                                            var span = DateTime.Now.Subtract(r.Aranzman.DatumZavrsetka);
                                            var dani = span.Days;
                                            if (dani <= 0 && (r.Status.ToString() != "OTKAZANA"))
                                            {
                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/Voyage/OtkaziRezervaciju">
                                                        <input type="text" name="idRezervacije" value="@r.ID" hidden />
                                                        <input type="submit" value="Otkazi" class="btn-danger" />
                                                    </form>
                                                </td>
                                            }

                                            if (dani > 0 && (r.Status.ToString() != "OTKAZANA"))
                                            {
                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/Home/DodajKomentar">
                                                        <input type="text" name="idAranzmana" value="@r.Aranzman.ID" hidden />
                                                        <input type="submit" value="Dodaj komentar" class="btn-success" />
                                                    </form>
                                                </td>
                                            }
                                        }

                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }

        }

    </table>



</div>