﻿@model WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "MojProfil";
}

<h2 style="padding-bottom:5px;font-weight:bold">Moj Profil<hr><p class="lead">Dobrodosli u sekciju Moj Profil. Ovde mozete videti sve informacije vaseg profila, pored cega imate opciju da iste i menjate.</p></h2>
<div class="jumbotron">

    @if (Model != null)
    {
        <table>
            <tbody>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">ID:</td>
                    <td style="font-size:20px;background:none">@Model.ID</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none;padding-right:15px">Korisnicko ime:</td>
                    <td style="font-size:20px;background:none">@Model.KorisnickoIme</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Lozinka:</td>
                    <td style="font-size:20px;background:none">@Model.Lozinka</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Ime:</td>
                    <td style="font-size:20px;background:none">@Model.Ime</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Prezime:</td>
                    <td style="font-size:20px;background:none">@Model.Prezime</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Pol:</td>
                    <td style="font-size:20px;background:none">@Model.Pol</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Email:</td>
                    <td style="font-size:20px;background:none">@Model.Email</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Datum rodjenja:</td>
                    <td style="font-size:20px;background:none">@Model.DatumRodjenja.ToString("dd'/'MM'/'yyyy")</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Uloga:</td>
                    <td style="font-size:20px;background:none">@Model.Uloga</td>
                </tr>
                <tr style="background:none">
                    <td style="font-size:20px;text-align:left;border-right:none;background:none">Blokiran:</td>
                    <td style="font-size:20px;background:none">@Model.Blokiran</td>
                </tr>


        </table>
        <br />
        <a class="btn btn-default" href="~/Home/IzmeniProfil">Izmeni profil</a>
    }

</div>
