﻿@using WebProjekat.Models
@model Aranzman

@{
    ViewBag.Title = "InfoAranzmana";

    List<Smestaj> Smestaji = ViewData["Smestaji"] as List<Smestaj>;

    List<SelectListItem> listaSmestaja = new List<SelectListItem>();
    foreach(Smestaj s in Smestaji)
    {
        listaSmestaja.Add(new SelectListItem
        {
            Text = $"ID: {s.ID} | Naziv: {s.Naziv.ToString()}",
            Value = s.ID,
            Selected = true
        }) ;
    }
}

<h2 style="padding-bottom:5px;font-weight:bold">Info aranzmana "@Model.Naziv":<hr></h2>
<div class="jumbotron">


    <table>
        <tbody>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Naziv:</td>
                <td style="font-size:20px;background:none">@Model.Naziv</td>
                <td rowspan="10" style="padding-right:0px">
                    <div class="image-cropper">
                        <img src="~/Images/@Model.FileName" alt:"Slika" class="rounded" />
                    </div>
                </td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Tip aranzmana:</td>
                <td style="font-size:20px;background:none">@Model.TipAranzmana.ToString()</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Tip prevoza:</td>
                <td style="font-size:20px;background:none">@Model.TipPrevoza.ToString()</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Lokacija:</td>
                <td style="font-size:20px;background:none">@Model.Lokacija</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Datum pocetka:</td>
                <td style="font-size:20px;background:none">@Model.DatumPocetka.ToString("dd'/'MM'/'yyyy")</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Datum zavrsetka:</td>
                <td style="font-size:20px;background:none">@Model.DatumZavrsetka.ToString("dd'/'MM'/'yyyy")</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Vreme nalazenja:</td>
                <td style="font-size:20px;background:none">@Model.VremeNalazenja.ToString("HH:mm")</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none;padding-right:50px">Maksimalno putnika:</td>
                <td style="font-size:20px;background:none">@Model.MaksimalnoPutnika</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none;padding-right:50px">Mesto nalazenja:</td>
                <td style="font-size:20px;background:none">@Model.MestoNalazenja.UlicaIBroj, @Model.MestoNalazenja.Grad, @Model.MestoNalazenja.PostanskiBroj<br /> @Model.MestoNalazenja.GeoDuzina : @Model.MestoNalazenja.GeoSirina</td>
            </tr>
        </tbody>
    </table>

    <hr />

    <table>
        <tbody>
            <tr style="background:none;">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Opis aranzmana:</td>
                <td style="font-size:20px;background:none;padding-bottom:20px;padding-top:20px">@Model.OpisAranzmana</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Program putovanja:</td>
                <td style="font-size:20px;background:none">@Model.ProgramPutovanja</td>
            </tr>
        </tbody>
    </table>


    <hr />
    <h3>Smestaj:</h3><br />

    @if (Model.Smestaj.ID == null)
    {
        if (Session["Role"] != null)
        {
            if ((Session["Role"].ToString() == "MENADZER") && (Model.CreatorID == Session["UserID"].ToString()))
            {
                <form action="~/Voyage/DodeliSmestaj" method="post" class="text-center">
                    <table>
                        <tr style="vertical-align:central">
                            <td style="border-right: none">Dodeli smestaj:</td>
                            <td style="padding-left:20px;">@Html.DropDownList("idSmestaja", listaSmestaja, new { @class = "form-control" })</td>
                            <input type="text" name="idAranzmana" value="@Model.ID" hidden />
                            @if (listaSmestaja.Count == 0)
                            {
                                <td><p3>Nemate slobodnih smestaja za dodavanje!</p3></td>
                            }
                            else
                            {
                                <td class="text-center" colspan="4" style="padding-left:5px"><input type="submit" value="Dodaj!" /></td>
                            }
                        </tr>
                    </table>
                </form>
            }
        }
        else
        {
            <p>Za ovaj aranzman nije postavljen smestaj, molimo proverite kasnije!</p>
        }
    }
    else
    {
        <table class="table" style="vertical-align:central">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Naziv</th>
                    <th>Broj zvezdica</th>
                    <th>Bazen</th>
                    <th>Spa</th>
                    <th>Invalidi</th>
                    <th>WiFi</th>
                    <th>Creator ID</th>
                    <th>Akcije</th>
                </tr>
            </thead>


            <tr>
                <td>@Model.Smestaj.ID</td>
                <td>@Model.Smestaj.Naziv</td>
                <td>@Model.Smestaj.BrojZvezdica</td>
                <td>@(Model.Smestaj.PostojanjeBazena ? "✓" : "✗")</td>
                <td>@(Model.Smestaj.PostojanjeSpa ? "✓" : "✗")</td>
                <td>@(Model.Smestaj.PrilagodjenoInvalidima ? "✓" : "✗")</td>
                <td>@(Model.Smestaj.PostojanjeWiFia ? "✓" : "✗")</td>
                <td>@Model.Smestaj.CreatorID</td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                @if (Session["Role"] != null)
                                {
                                    if (Session["Role"].ToString() == "MENADZER" && Session["UserID"].ToString() == Model.CreatorID)
                                    {
                                        <td style="border-right:none;padding-right:0px">
                                            <form method="post" action="~/Voyage/OdvojSmestaj">
                                                <input type="text" name="id" value="@Model.ID" hidden />
                                                <input type="submit" value="Ukloni smestaj" class="btn-danger" />
                                            </form>
                                        </td>

                                        <td style="border-right:none;padding-right:0px">
                                            <form method="post" action="~/Voyage/KreiranjeSmestajneJediniceSAID">
                                                <input type="text" name="id" value="@Model.Smestaj.ID" hidden />
                                                <input type="submit" value="Dodaj jedinice" class="btn-success" />
                                            </form>
                                        </td>
                                    }

                                    <td style="border-right:none;padding-right:0px">
                                        <form method="post" action="~/Voyage/InfoSmestaja">
                                            <input type="text" name="id" value="@Model.Smestaj.ID" hidden />
                                            <input type="submit" value="Pogledaj" class="btn-success" />
                                        </form>
                                    </td>

                                }
                                else
                                {
                                    <td style="border-right:none;padding-right:0px">
                                        <form method="post" action="~/Voyage/InfoSmestaja">
                                            <input type="text" name="id" value="@Model.Smestaj.ID" hidden />
                                            <input type="submit" value="Pogledaj" class="btn-success" />
                                        </form>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </table>
    }


    <h3>Komentari:</h3><br />


    <table cellspacing="0" border="0">
        <colgroup span="3" width="50"></colgroup>
        
        @foreach (Komentar k in ViewData["Komentari"] as List<Komentar>)
        {
                if((k.Odobren==false) && (Session["UserID"] !=null) && (Model.CreatorID == Session["UserID"].ToString()))
                {
                    <tr>
                        <td colspan="2" height="25" align="left" valign=middle style="font-size:16px;border-top:1px solid lightgray;">
                            <strong>@k.Korisnik.KorisnickoIme</strong>
                        </td>
                        <td colspan=2 rowspan=2 align="left" valign="top" style="padding:10px 0 0 10px;background-color:#ddd;border:1px solid lightgray;width:500px;height:100px">
                            @k.Sadrzaj
                        </td>
                        @if(k.Odobren==false)
                        {
                            <td rowspan="2" valign="middle" style="padding-left:5px">
                                <form method="post" action="~/Voyage/OdobriKomentar">
                                    <input type="text" name="idKomentara" value="@k.ID" hidden />
                                    <input type="submit" value="Odobri" class="btn-success" />
                                </form>
                            </td>
                        }
                    </tr>
                    <tr >
                        <td colspan=2 height="25" align="left" valign="top" style="border-bottom:1px solid lightgray">

                            @k.Korisnik.Ime @k.Korisnik.Prezime<br />
                            @{
                                int ocena = k.Ocena;
                                for (int i = 0; i < ocena; i++)
                                {
                                    <strong style="color: gold">&#9733;</strong>
                                }
                            }
                        </td>
                
                    </tr>
                }
                else if(k.Odobren==true)
                {
                    <tr>
                        <td colspan="2" height="25" align="left" valign=middle style="font-size:16px;border-top:1px solid lightgray;">
                            <strong>@k.Korisnik.KorisnickoIme</strong>
                        </td>
                        <td colspan=2 rowspan=2 align="left" valign="top" style="padding:10px 0 0 10px;background-color:#ddd;border:1px solid lightgray;width:500px;height:100px">
                            @k.Sadrzaj
                        </td>
                    </tr>
                    <tr >
                        <td colspan=2 height="25" align="left" valign="top" style="border-bottom:1px solid lightgray">

                            @k.Korisnik.Ime @k.Korisnik.Prezime<br />
                            @{
                                int ocena = k.Ocena;
                                for (int i = 0; i < ocena; i++)
                                {
                                    <strong style="color: gold">&#9733;</strong>
                                }
                            }
                        </td>
                
                    </tr>
                }
        }
    </table>

    <br /><br />


    @if ((Session["Role"] != null) && (Session["Role"].ToString() == "MENADZER"))
    {
        <a class="btn btn-default" href="~/ManagerPanel/Index">&lArr; Nazad</a>
    }
    else
    {
        <a class="btn btn-default" href="~/Voyage/AktivnaPonuda">&lArr; Nazad</a>
    }

</div>