﻿@using WebProjekat.Models
@model Smestaj
@{
    ViewBag.Title = "InfoSmestaja";
}


<h2 style="padding-bottom:5px;font-weight:bold">Info smestaja "@Model.Naziv":<hr></h2>
<div class="jumbotron">




    <table>
        <tbody>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Naziv smestaja:</td>
                <td style="font-size:20px;background:none">@Model.Naziv</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Tip:</td>
                <td style="font-size:20px;background:none">@Model.TipSmestaja</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Broj zvezdica:</td>
                <td>
                    <table>
                        <tr>
                            @for (int i = 0; i < Model.BrojZvezdica; i++)
                            {
                                <td>★</td>
                            }
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Postojanje bazena:</td>
                <td style="font-size:20px;background:none">@(Model.PostojanjeBazena ? "✓" : "✗")</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Postojanje spa:</td>
                <td style="font-size:20px;background:none">@(Model.PostojanjeSpa ? "✓" : "✗")</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Prilagodjeno invalidima:</td>
                <td style="font-size:20px;background:none">@(Model.PrilagodjenoInvalidima ? "✓" : "✗")</td>
            </tr>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Postojanje Wi-Fia:</td>
                <td style="font-size:20px;background:none">@(Model.PostojanjeWiFia ? "✓" : "✗")</td>
            </tr>
        </tbody>
    </table>


    <hr />
    <h3>Smestajne jedinice:</h3><br />

    <form action="~/Voyage/FiltriranjeSJ" method="post" class="text-center">
        <table cellspacing="0" border="0">
            <colgroup span="2" width="73"></colgroup>
            <tr style="padding:50px">
                <td colspan=2 height="20" align="left" valign=middle><font color="#000000"><strong>Cena</strong></font></td>
            </tr>
            <tr>
                <td align="left" valign=middle style="border-top:1px lightgray dashed;border-left:1px lightgray dashed;padding:5px 0 0 10px"><font color="#000000">Min</font></td>
                <td align="left" valign=middle style="border-top:1px lightgray dashed;border-right:1px lightgray dashed;padding:5px 0 0 0"><font color="#000000">Max</font></td>
            </tr>
            <tr>
                <td width="150" align="left" valign=middle style="border-bottom:1px lightgray dashed;border-left:1px lightgray dashed;padding:0px 5px 20px 10px"><input type="number" name="cenaMin" value="0" /></td>
                <td width="150" align="left" valign=middle style="border-bottom:1px lightgray dashed;border-right:1px lightgray dashed;padding:0px 10px 20px 0px"><input type="number" name="cenaMax" value="0" /></td>
            </tr>
            <tr style="padding:50px 0 0 0 ">
                <td colspan=1 height="20" align="left" valign=middle style="padding-top:15px"><font color="#000000"><strong>Broj gostiju</strong></font></td>
                <td width="150" align="left" valign="middle" style="padding-top:15px"><input type="number" name="brojGostiju" value="0" /></td>
            </tr>
            <tr>
                <td colspan=1 height="20" align="left" valign=middle style="padding-top:20px"><font color="#000000"><strong>Dozvoljeni ljubimci:</strong></font></td>
                <td colspan=1 height="20" align="left" valign=middle style="padding-top:20px">
                    Da @Html.RadioButton("dozvoljeniLjubimci", "True", true)
                    Ne @Html.RadioButton("dozvoljeniLjubimci", "False", false)
                </td>
                <td><input type="text" name="idSmestaja" value="@Model.ID" hidden /></td>
            </tr>
            <tr>
                <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Pretrazi" /></td>
            </tr>
        </table>
    </form>
    <br />


    <table class="table" style="vertical-align:central">

        <thead>
            <tr>
                <td align="center" style="border-top:none;border-bottom:none !important"><strong>Sortiranje</strong></td>
                <td align="center" style="border-top:none">
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSJ/?kriterijum=guestDesc&idSmestaja=@Model.ID" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSJ/?kriterijum=guestAsc&idSmestaja=@Model.ID" name="kriterijum">&uArr;</a>
                </td>
                <td align="center" style="border-top:none"></td>
                <td align="center" style="border-top:none">
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSJ/?kriterijum=priceDesc&idSmestaja=@Model.ID" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSJ/?kriterijum=priceAsc&idSmestaja=@Model.ID" name="kriterijum">&uArr;</a>
                </td>
                <td align="center" style="border-top:none"></td>
                <td align="center" style="border-top:none"></td>
            </tr>
            <tr>
                <td><strong>ID smestajne jedinice</strong></td>
                <td><strong>Dozvoljen broj gostiju</strong></td>
                <td><strong>Dozvoljeni ljubimci</strong></td>
                <td><strong>Cena jedinice</strong></td>
                <td><strong>Zauzetost</strong></td>
                <td><strong>Akcije</strong></td>
            </tr>
        </thead>

        @foreach (SmestajnaJedinica sj in Model.ListaSmestajnihJedinica)
        {
            if (sj.Deleted == false)
            {
                <tr>
                    <td>@sj.ID</td>
                    <td>@sj.DozvoljenBrojGostiju</td>
                    <td>@(sj.DozvoljeniLjubimci ? "✓" : "✗")</td>
                    <td>@sj.CenaJedinice</td>
                    <td>@(sj.Zauzeta ? "✓" : "✗")</td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    @if (Session["Role"] != null)
                                    {
                                        if (sj.Zauzeta == false)
                                        {
                                            <td style="border-right:none;padding-right:0px">
                                                <form method="post" action="~/Voyage/Rezervisi">
                                                    <input type="text" name="idJedinice" value="@sj.ID" hidden />
                                                    <input type="submit" value="Rezervisi" class="btn-success" />
                                                </form>
                                            </td>
                                            if (Session["Role"].ToString() == "MENADZER")
                                            {
                                                <td style="border-right:none;padding-right:0px">
                                                    <form method="post" action="~/Voyage/ObrisiSmestajnuJedinicu">
                                                        <input type="text" name="idSmestajne" value="@sj.ID" hidden />
                                                        <input type="submit" value="Obrisi" class="btn-danger" />
                                                    </form>
                                                </td>
                                            }
                                        }
                                        else
                                        {

                                        }
                                    }
                                    else
                                    {


                                    }

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }

        }

    </table>



        @if ((Session["Role"] != null) && (Session["Role"].ToString() == "MENADZER"))
        {
            <a class="btn btn-default" href="~/Voyage/PrikazSmestaja" style="float:left">&lArr; Nazad</a>
            if(Session["UserID"] == Model.CreatorID)
            {
            <form method="post" action="~/Voyage/KreiranjeSmestajneJediniceSAID">
                <input type="text" name="id" value="@Model.ID" hidden />
                <input type="submit" class="btn btn-success" style="float:left;margin-left:20px" value="Dodaj jedinice" />
            </form>
            }
        }
        else
        {
            <a class="btn btn-default" href="~/Voyage/AktivnaPonuda" style="float:left">&lArr; Nazad</a>
        }


</div>