﻿
@{
    ViewBag.Title = "KreiranjeSmestaja";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Hotel",
        Value = "HOTEL",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Motel",
        Value = "MOTEL"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Vila",
        Value = "VILA"
    });
}



<h2>KreiranjeSmestaja</h2>




<form action="KreiranjeSmestaja" method="post" class="text-center">
    <table style="padding-top:25px">
        <tr>
            <td style="border-right: none">Tip smestaja:</td>
            <td style="padding-left:20px;">@Html.DropDownList("tipSmestaja", listItems, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td style="border-right: none">Naziv:</td>
            <td style="padding-left:20px;">
                <input type="text" name="naziv" required="required" pattern=".{3,}" title="Three or more characters!" />
                <input type="text" name="idAranzmana" value="@ViewBag.ID" hidden />
            </td></td>

        </tr>
        <tr>
            <td style="border-right: none">Broj zvezdica:</td>
            <td style="padding-left:20px;"><input type="number" name="brojZvezdica" required="required" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Postojanje bazena:</td>
            <td style="padding-left:20px;">
                Da @Html.RadioButton("postojanjeBazena", "True", true)
                Ne @Html.RadioButton("postojanjeBazena", "False", false)
            </td>
        </tr>
        <tr>
            <td style="border-right: none">Postojanje spa:</td>
            <td style="padding-left:20px;">
                Da @Html.RadioButton("postojanjeSpa", "True", true)
                Ne @Html.RadioButton("postojanjeSpa", "False", false)
            </td>
        </tr>
        <tr>
            <td style="border-right: none">Prilagodjeno invalidima:</td>
            <td style="padding-left:20px;">
                Da @Html.RadioButton("prilagodjenoInvalidima", "True", true)
                Ne @Html.RadioButton("prilagodjenoInvalidima", "False", false)
            </td>
        </tr>
        <tr>
            <td style="border-right: none">Postojanje wifia:</td>
            <td style="padding-left:20px;">
                Da @Html.RadioButton("postojanjeWiFia", "True", true)
                Ne @Html.RadioButton("postojanjeWiFia", "False", false)
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Dodaj!" /></td>
        </tr>
    </table>
</form>


<a class="btn btn-default" href="~/ManagerPanel/Index">&lArr; Nazad</a>
