﻿@{
    ViewBag.Title = "KreiranjeSmestajneJedinice";
}


<h2>KreiranjeSmestajneJedinice</h2>


<form action="~/Voyage/KreiranjeSmestajneJedinice" method="post" class="text-center">
    <table style="padding-top:25px">
        <tr>
            <td style="border-right: none">Dozvoljen broj gostiju:</td>
            <td style="padding-left:20px;"><input type="number" name="dozvoljenBrojGostiju" required="required" pattern=".{3,}" title="Three or more characters!" /></td>
        </tr>
        <tr>
            <td style="border-right: none">Dozvoljeni ljubimci:</td>
            <td style="padding-left:20px;">
                Da @Html.RadioButton("dozvoljeniLjubimci", "True", true)
                Ne @Html.RadioButton("dozvoljeniLjubimci", "False", false)
            </td>
        </tr>
        <tr>
            <td style="border-right: none">Cena jedinice:</td>
            <td style="padding-left:20px;">
                <input type="number" name="cenaJedinice" required="required" />
                <input type="text" name="idSmestaja" value="@ViewBag.ID" hidden />
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Dodaj!" /></td>
        </tr>
    </table>
</form>

<a class="btn btn-default" href="~/Voyage/PrikazSmestaja">&lArr; Nazad</a>
