﻿
@{
    ViewBag.Title = "KreiranjeAranzmana";
}

@{
    List<SelectListItem> listItems1 = new List<SelectListItem>();
    listItems1.Add(new SelectListItem
    {
        Text = "Nocenje sa doruckom",
        Value = "NOCENJE_SA_DORUCKOM",
        Selected = true
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Polupansion",
        Value = "POLUPANSION"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Pun pansion",
        Value = "PUN_PANSION"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "All inclusive",
        Value = "ALL_INCLUSIVE"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Najam apartmana",
        Value = "NAJAM_APARTMANA"
    });

}


<head>
    <link rel="stylesheet" href="~/libs/ol.css" type="text/css">
    <style>
        .map {
            height: 300px;
            width: 400px;
        }
    </style>
    <script src="~/libs/ol.js"></script>
    <title>OpenLayers example</title>
</head>





@{
    List<SelectListItem> listItems2 = new List<SelectListItem>();
    listItems2.Add(new SelectListItem
    {
        Text = "Autobus",
        Value = "AUTOBUS",
        Selected = true
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Avion",
        Value = "AVION"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Autobus + avion",
        Value = "AUTOBUS_AVION"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Individualan",
        Value = "INDIVIDUALAN"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Ostalo",
        Value = "OSTALO"
    });

}

<h2 style="padding-bottom:5px;font-weight:bold">Kreiranje novog aranzmana<hr></h2>
<div class="jumbotron">



    <form action="KreiranjeAranzmana" method="post" class="text-center">
        <table style="padding-top:25px">
            <tr>
                <td style="border-right: none">Naziv:</td>
                <td style="padding-left:20px;"><input type="text" name="naziv" required="required" pattern=".{3,}" title="Three or more characters!" /></td>
                <td rowspan="12">Mesto nalazenja:</td>
                <td rowspan="11" >
                    <div id="id_map" class="map"></div>   
                    <script src="~/main.js"></script>
                    
                    <input type="text" id="mestonalazenjaJS" style="width:500px" readonly/>
                </td>
            </tr>
            <tr>
                <td style="border-right: none">Tip aranzmana:</td>
                <td style="padding-left:20px;">@Html.DropDownList("tipAranzmana", listItems1, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td style="border-right: none">Tip prevoza:</td>
                <td style="padding-left:20px;">@Html.DropDownList("tipPrevoza", listItems2, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td style="border-right: none">Lokacija:</td>
                <td style="padding-left:20px;"><input type="text" name="lokacija" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Datum pocetka:</td>
                <td style="padding-left:20px;"><input type="date" name="datumPocetka" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Datum zavrsetka:</td>
                <td style="padding-left:20px;"><input type="date" name="datumZavrsetka" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Vreme nalazenja:</td>
                <td style="padding-left:20px;"><input type="time" name="vremeNalazenja" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Maksimalan broj putnika:</td>
                <td style="padding-left:20px;"><input type="number" name="maksimalnoPutnika" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Opis aranzmana:</td>
                <td style="padding-left:20px;"><input type="text" name="opisAranzmana" required="required" pattern=".{3,}" title="Three or more characters!" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Program putovanja:</td>
                <td style="padding-left:20px;"><input type="text" name="programPutovanja" required="required" pattern=".{3,}" title="Three or more characters!" />
                
                
                <input type="text" name="ulicaIBroj" id="ulicaibrojJS" value="" required="required" hidden/>
                <input type="text" name="grad" id="gradJS" value="" required="required" hidden/>
                <input type="text" name="postanskiBroj" id="postanskibrojJS" value="" required="required" hidden/>
                <input type="text" name="geoDuzina" id="geoduzinaJS" value="" required="required" hidden/>
                <input type="text" name="geoSirina" id="geosirinaJS" value="" required="required" hidden/>
                

                </td>
            </tr>
            <tr>
                <td>Poster:</td>
                <td><input type="file" name="fileName" /></td>
            </tr>
            <tr>
                <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Dodaj!" /></td>
            </tr>
        </table>
    </form>

    <a class="btn btn-default" href="~/ManagerPanel/Index">&lArr; Nazad</a>



</div>