﻿@using WebProjekat.Models
@model IEnumerable<Smestaj>

@{
    ViewBag.Title = "PrikazSmestaja";


    List<SelectListItem> listItems2 = new List<SelectListItem>();
    listItems2.Add(new SelectListItem
    {
        Text = "Hotel",
        Value = "HOTEL",
        Selected = true
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Motel",
        Value = "MOTEL"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Vila",
        Value = "VILA"
    });

}


<h2 style="padding-bottom:5px;font-weight:bold">Prikaz svih smestaja<hr></h2>
<div class="jumbotron">





    <form action="~/Voyage/FiltriranjeSmestaja" method="post" class="text-center">
        <table cellspacing="0" border="0">
            <colgroup span="4" width="73"></colgroup>
            <tr style="padding:50px">
                <td colspan=2 height="20" align="left" valign=middle><font color="#000000"><strong>Tip smestaja</strong></font></td>
                <td colspan=1 align="left" valign=middle style="padding-left:0px"><font color="#000000"><strong>Bazen</strong></font>     <input type="checkbox" name="bazen" value="true"/> </td>
                <td colspan=1 align="left" valign=middle style="padding-left:0px"><font color="#000000"><strong>Invalidi</strong></font>     <input type="checkbox" name="invalidi" value="true"/> </td>
            </tr>
            <tr>
                <td colspan=2 height="20" align="left" valign=middle>@Html.DropDownList("tipSmestaja", listItems2, new { @class = "form-control" })</td>
                <td colspan=1 align="left" valign=middle style="padding-left:0px"><font color="#000000"><strong>Wifi</strong></font>     <input type="checkbox" name="wifi" value="true"/> </td>
                <td colspan=1 align="left" valign=middle style="padding-left:0px"><font color="#000000"><strong>Spa</strong></font>     <input type="checkbox" name="spa" value="true"/> </td>
            </tr>
            <tr>
                <td colspan=2 height="20" align="left" valign="middle" style="padding:15px 0 0 0;"><strong>Naziv</strong></td>
                <td colspan=2 rowspan=2 align="center" valign="bottom"><input type="submit" value="Pretrazi" /></td>
            </tr>
            <tr>
                <td colspan=2 height="20" align="left" valign=middle><input type="text" name="naziv" style="width:340px;height:34px;font-size:14px;border:1px solid #ccc;border-radius:4px"></td>
            </tr>
        </table>
    </form>



    <table class="table" style="vertical-align:central">
        <thead>
            <tr>
                <td><strong>Sortiranja:</strong></td>
                <td width="100px">
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSmestaja/?kriterijum=nameDesc" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSmestaja/?kriterijum=nameAsc" name="kriterijum">&uArr;</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSmestaja/?kriterijum=totDesc" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSmestaja/?kriterijum=totAsc" name="kriterijum">&uArr;</a>
                </td>
                <td>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSmestaja/?kriterijum=freeDesc" name="kriterijum">&dArr;</a>
                    <a class="btn btn-info" href="~/Voyage/SortiranjeSmestaja/?kriterijum=freeAsc" name="kriterijum">&uArr;</a>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Naziv</strong></td>
                <td><strong>Tip</strong></td>
                <td><strong>Broj zvezdica</strong></td>
                <td><strong>Bazen</strong></td>
                <td><strong>Spa</strong></td>
                <td><strong>Invalidi</strong></td>
                <td><strong>WiFi</strong></td>
                <td><strong>Ukupno jedinica</strong></td>
                <td><strong>Slobodne jedinice</strong></td>
                <td><strong>Creator ID</strong></td>
                <td align="center"><strong>Akcije</strong></td>
            </tr>
        </thead>


        <br /><br />

        @foreach (Smestaj sm in Model)
        {
            if ((Session["UserID"] != null) && (sm.CreatorID == Session["UserID"].ToString()) && (!sm.Deleted))
            {

                <tr>
                    <td>@sm.ID</td>
                    <td>@sm.Naziv</td>
                    <td>@sm.TipSmestaja</td>
                    <td>
                        <table>
                            <tr>
                                @for (int i = 0; i < sm.BrojZvezdica; i++)
                                {
                                    <td>★</td>
                                }
                            </tr>
                        </table>
                    </td>
                    <td>@(sm.PostojanjeBazena ? "✓" : "✗")</td>
                    <td>@(sm.PostojanjeSpa ? "✓" : "✗")</td>
                    <td>@(sm.PrilagodjenoInvalidima ? "✓" : "✗")</td>
                    <td>@(sm.PostojanjeWiFia ? "✓" : "✗")</td>
                    @{ 
                        int brJedinica = 0;
                        int brSlobodnih = 0;
                        foreach(SmestajnaJedinica sj in sm.ListaSmestajnihJedinica)
                        {
                            brJedinica++;
                            if (!sj.Zauzeta)
                            {
                                brSlobodnih++;
                            }

                        }
                    }

                    <td>@brJedinica</td>
                    <td>@brSlobodnih</td>
                    <td>@sm.CreatorID</td>
                    <td align="center">
                        <table>
                            <tbody>
                                <tr>
                                    @if (Session["Role"] != null)
                                    {
                                        
                                        <td style="border-right:none;padding-right:0px">
                                            <form method="post" action="~/Voyage/KreiranjeSmestajneJediniceSAID">
                                                <input type="text" name="id" value="@sm.ID" hidden />
                                                <input type="submit" value="Dodaj jedinice" class="btn-success" />
                                            </form>
                                        </td>

                                        <td style="border-right:none;padding-right:0px">
                                            <form method="post" action="~/Voyage/InfoSmestaja">
                                                <input type="text" name="id" value="@sm.ID" hidden />
                                                <input type="submit" value="Info" class="btn-warning" />
                                            </form>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }

        }

    </table>


    @if ((Session["Role"] != null) && (Session["Role"].ToString() == "MENADZER"))
    {
        <a class="btn btn-default" href="~/ManagerPanel/Index">&lArr; Nazad</a>
    }
    else
    {
        <a class="btn btn-default" href="~/Voyage/AktivnaPonuda">&lArr; Nazad</a>
    }


</div>