﻿@using WebProjekat.Models
@model IEnumerable<Aranzman>
@{
    ViewBag.Title = "StaraPonuda";
}

@{ 

    List<SelectListItem> listItems1 = new List<SelectListItem>();
    listItems1.Add(new SelectListItem
    {
        Text = "Nocenje sa doruckom",
        Value = "NOCENJE_SA_DORUCKOM",
        Selected = true
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Polupansion",
        Value = "POLUPANSION"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Pun pansion",
        Value = "PUN_PANSION"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "All inclusive",
        Value = "ALL_INCLUSIVE"
    });
    listItems1.Add(new SelectListItem
    {
        Text = "Najam apartmana",
        Value = "NAJAM_APARTMANA"
    });

    List<SelectListItem> listItems2 = new List<SelectListItem>();
    listItems2.Add(new SelectListItem
    {
        Text = "Autobus",
        Value = "AUTOBUS",
        Selected = true
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Avion",
        Value = "AVION"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Autobus + avion",
        Value = "AUTOBUS_AVION"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Individualan",
        Value = "INDIVIDUALAN"
    });
    listItems2.Add(new SelectListItem
    {
        Text = "Ostalo",
        Value = "OSTALO"
    });

}

<style>
    
    .form-control{
        width:340px;
    }

    input, select, textarea {
        max-width: 340px;
    }

</style>


<h2 style="padding-bottom:5px;font-weight:bold">
    Prethodni i tekuci aranzmani<hr><p class="lead">
        Prikaz svih aranzmana koji su u toku i koji su zavrseni.
    </p>
</h2>
<div class="jumbotron">

<form action="~/Voyage/FiltriranjeStarih" method="post" class="text-center">
    <table cellspacing="0" border="0">
        <colgroup span="4" width="73"></colgroup>
        <tr style="padding:50px">
            <td colspan=2 height="20" align="left" valign=middle><font color="#000000"><strong>Datum pocetka</strong></font></td>
            <td colspan=2 align="left" valign=middle style="padding-left:0px"><font color="#000000"><strong>Datum zavrsetka</strong></font></td>
        </tr>
        <tr>
            <td align="left" valign=middle style="border-top:1px lightgray dashed;border-left:1px lightgray dashed;padding:5px 0 0 10px"><font color="#000000">Min</font></td>
            <td align="left" valign=middle style="border-top:1px lightgray dashed;border-right:1px lightgray dashed;padding:5px 0 0 0"><font color="#000000">Max</font></td>
            <td align="left" valign=middle style="border-top:1px lightgray dashed;padding:5px 0 0 10px"><font color="#000000"><font color="#000000">Min</font></td>
            <td align="left" valign=middle style="border-top:1px lightgray dashed;border-right:1px lightgray dashed;padding:5px 0 0 0"><font color="#000000">Max</font></td>
        </tr>
        <tr>
            @{
                string danasnjiDatum = DateTime.Now.ToString("yyyy'-'MM'-'dd");
            }
            <td width="150" align="left" valign=middle style="border-bottom:1px lightgray dashed;border-left:1px lightgray dashed;padding:0px 5px 20px 10px"><input type="date" name="datumPocetkaMin" value="@danasnjiDatum"/></td>
            <td width="150" align="left" valign=middle style="border-bottom:1px lightgray dashed;border-right:1px lightgray dashed;padding:0px 10px 20px 0px"><input type="date" name="datumPocetkaMax" value="@danasnjiDatum"/></td>
            <td width="150" align="left" valign=middle style="border-bottom:1px lightgray dashed;padding:0px 5px 20px 10px"><input type="date" name="datumZavrsetkaMin" value="@danasnjiDatum"/></td>
            <td width="150" align="left" valign=middle style="border-bottom:1px lightgray dashed;border-right:1px lightgray dashed;padding:0 10px 20px 0"><input type="date" name="datumZavrsetkaMax" value="@danasnjiDatum"/></td>
        </tr>
        <tr>
            <td colspan=2 height="20" align="left" valign=middle style="padding-top:20px"><font color="#000000"><strong>Tip aranzmana:</strong></font></td>
            <td colspan=2 align="left" valign=middle style="padding-top:20px"><font color="#000000"><strong>Tip prevoza:</strong></font></td>
        </tr>
        <tr>
            <td colspan=2 height="20" align="left" valign=middle>@Html.DropDownList("tipAranzmana", listItems1, new { @class = "form-control" })</td>
            <td colspan=2 align="left" valign=middle>@Html.DropDownList("tipPrevoza", listItems2, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td colspan=2 height="20" align="left" valign="middle" style="padding:15px 0 0 0;"><strong>Naziv</strong></td>
            <td colspan=2 rowspan=2 align="center" valign="bottom"><input type="submit" value="Pretrazi" /></td>
        </tr>
        <tr>
            <td colspan=2 height="20" align="left" valign=middle ><input type="text" name="naziv" style="width:340px;height:34px;font-size:14px;border:1px solid #ccc;border-radius:4px"></td>
        </tr>
    </table>
</form>
    

    <br />
    <table class="table">
        <tr>
            <td align="center" style="border-top:none"><strong>Sortiranje</strong></td>
            <td align="center" style="border-top:none">
                <a class="btn btn-info" href="~/Voyage/SortiranjeStarih/?kriterijum=startDesc" name="kriterijum">&dArr;</a>
                <a class="btn btn-info" href="~/Voyage/SortiranjeStarih/?kriterijum=startAsc" name="kriterijum">&uArr;</a>
            </td>
            <td align="center" style="border-top:none">
                <a class="btn btn-info" href="~/Voyage/SortiranjeStarih/?kriterijum=endDesc" name="kriterijum">&dArr;</a>
                <a class="btn btn-info" href="~/Voyage/SortiranjeStarih/?kriterijum=endAsc" name="kriterijum">&uArr;</a>
            </td>
            <td align="center" style="border-top:none"></td>
            <td align="center" style="border-top:none">
                <a class="btn btn-info" href="~/Voyage/SortiranjeStarih/?kriterijum=nameDesc" name="kriterijum">&dArr;</a>
                <a class="btn btn-info" href="~/Voyage/SortiranjeStarih/?kriterijum=nameAsc" name="kriterijum">&uArr;</a>
            </td>
            <td align="center" style="border-top:none"></td>
        </tr>



        @if (Model != null)
        {
            foreach (Aranzman ar in Model)
            {
                if (!ar.Deleted)
                {
                    string dodeljenSmestaj = "";
                    if (ar.Smestaj.ID == null)
                    {
                        dodeljenSmestaj = "red";
                    }
                    else
                    {
                        dodeljenSmestaj = "";
                    }

                    <tr>
                        <td align="center"><strong style="color:@dodeljenSmestaj">ID</strong><br />@ar.ID</td>
                        <td align="center"><strong>Polazak</strong><br />@ar.DatumPocetka.ToString("dd'/'MM'/'yyyy")</td>
                        <td align="center"><strong>Povratak</strong><br />@ar.DatumZavrsetka.ToString("dd'/'MM'/'yyyy")</td>
                        <td align="center">
                            <div class="image-cropper" style="width:75px;height:75px;margin-right:auto">
                                <img src="~/Images/@ar.FileName" alt:"Slika" class="rounded" />
                            </div>
                        </td>
                        <td align="center" valign="middle"><strong style="font-size:17px">@ar.Naziv</strong></td>
                        <td style="border-right:none;padding-right:0px">
                            <form method="post" action="~/Voyage/InfoAranzmana">
                                <input type="text" name="id" value="@ar.ID" hidden />
                                <input type="submit" value="Pogledaj" class="btn-success" />
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </table>

    <br />

    <strong style="color:red">ID</strong> - Aranzmanu nije dodeljen smestaj


</div>
